$grey: #8a8b8d;
$orange: #fa7c30;

$text-sm: 12px;
$text-base: 14px;
$text-lg: 18px;
$text-xl: 26px;
$text-2xl: 36px;
$text-3xl: 70px;

$letter-spacing-low: .1em;

body {
  font-size: $text-base;
  font-family: 'Open Sans', sans-serif;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

ol, ul {
  display: block;
  padding: 0;
  margin: 0;
}

ol li, ul li {
  display: block;
}

h1 {
  font-size: $text-3xl;
  line-height: 1.3em;
  text-transform: uppercase;
}

h2 {
  font-size: $text-2xl;
  text-transform: uppercase;
}

h3 {
  font-size: $text-xl;
}

h4 {
  font-size: $text-base;
  font-weight: normal;
  text-transform: uppercase;
}

h1, h2, h3 {
  margin: 0;
  font-weight: bold;
}

p {
  line-height: 2em;
}

h2 + p, h3 + p {
  margin-top: 20px;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  transition: .3s;

  &:hover {
    color: $orange;
    text-decoration: none;
  }
}

.orange {
  color: $orange;
}

.grey {
  color: $grey;
}

.text-low {
  letter-spacing: $letter-spacing-low;
}

.btn {
  display: inline-block;
  padding: 13px 30px;
  background: $orange;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  transition: .3s;
  border: none;
  border-radius: 0;
  cursor: pointer;
  letter-spacing: $letter-spacing-low;

  &:hover {
    background: #c46227;
    color: #fff;
    text-decoration: none;
  }
  &:focus {
    box-shadow: none;
  }
}

// Первый экран

.header {
  padding-bottom: 400px;
  background: #6f6662 url(../img/header-bg.jpg) center;
  background-size: cover;
  color: #fff;

  .title {
    margin-top: 150px;
    margin-left: -5px;
  }

  .btn {
    margin-top: 70px;
  }
}

.menu {
  margin: 0 auto;
  padding: 21px 35px;
  max-width: 1600px;
  width: 100%;

  ul {
    position: relative;
    top: 2px;

    li {
      margin-right: 26px;
      font-size: $text-sm;
      font-weight: bold;
      letter-spacing: $letter-spacing-low;
      text-transform: uppercase;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-btn {
    a {
      display: block;
      padding: 10px 16px;
      border: 2px solid #fff;
    }
  }
}

.logo {
  margin-right: 38px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.burger-menu {
  font-size: $text-lg;
}


@media screen and (max-width: 992px) {
  .right-menu {
    display: block !important;
    position: fixed;
    top: 0;
    right: 0;
    padding: 30px 15px;
    width: 300px !important;
    height: 100vh;
    background: #161418;
    z-index: 9999;

    > ul {
      margin-top: 15px;
      border-top: 1px solid #fff;
    }

    li {
      margin-top: 15px;
    }
  }
}



// Карточка online booking
.online-booking {
  position: relative;
  left: 0;
  top: -210px;
  background: #fff;
  box-shadow: 0 10px 40px rgba(0, 0, 0, .1);
  margin: 0;

  h3 {
    text-transform: uppercase;
  }

  &__card {
    padding: 60px 15px 70px;
  }

  &__img {
    background: url(../img/online-booking.jpg) center top;
    background-size: cover;
    min-height: 500px;
  }

  &__title {
    margin-top: 20px;
  }

  &__form {
    padding-top: 60px;
    padding-bottom: 75px;

    input, select {
      display: block;
      padding: 15px 0;
      margin-bottom: 20px;
      width: 100%;
      border: none;
      border-bottom: 1px solid #000;
    }

    option {
      padding: 15px 0;
    }
  }

  &__icon {
    position: relative;

    input, select {
      padding-right: 20px;
    }

    img {
      position: absolute;
      top: 17px;
      right: 17px;
    }

  }

  select {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    
    -webkit-appearance: none;
    -moz-appearance: radio-container;
    appearance: none;
  }
}

// Welcome to Fitness
.welcome {
  padding-bottom: 350px;
  background: #f1f4f6 url(../img/welcome.png) no-repeat center bottom 70px;
  background-size: 1530px 806px;

  &__title {
    margin-top: 40px;
  }

  &__content {
    margin-top: 20px;
    max-width: 380px;
  }

  .btn {
    margin-top: 45px;
  }
}

// Modes
.modes {
  padding: 75px 0 80px;
}

.list-modes {
  &__mode {
    margin-top: 30px;
    background: #f1f4f6;
    background-clip: content-box;
    font-size: 16px;
  }

  &__subscribe {
    padding: 35px 40px;
  }

  .btn {
    margin-top: 30px;
  }
}

// Personal
.personal {
  padding: 180px 0;
  background: #6f6662 url(../img/personal-trainer-bg.jpg) center;
  background-size: cover;
  color: #fff;

  &__subtitle {
    @extend h2;
    font-weight: normal;
  }

  &__title {
    @extend h1;
  }

  .btn {
    margin-top: 30px;
  }
}


// Trainers
.trainers {
  @extend .modes;
  background: #f1f4f6;
}

.list-trainers {
  &__trainer {
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
  }
  
  &__name {
    margin-top: 35px;
    color: #161418;
  }

  &__type {
    font-size: 14px;
    font-weight: bold;
    color: $orange;
    text-transform: uppercase;
  }

  &__subscribe {
    margin-top: 15px;
    line-height: 30px;
  }
}

// Promotion
.promotion {
  background: #161418;
  color: #fff;

  &__free, &__call {
    padding: 125px 0;
    background: url(../img/free-days-bg.jpg) center;
    background-size: cover;
  }

  &__call {
    background: url(../img/call-bg.jpg) center;
    background-size: cover;
  }

  &__subtitle {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__title {
    font-size: 46px;
    margin-top: 20px;
  }

  .btn {
    margin-top: 40px;
  }
}

.footer {
  padding: 35px 0 40px;
  background: #161418;
  color: #fff;

  &__info {
    padding-top: 20px;

    p {
      margin: 40px 0;
    }
  }

  &__follow {
    font-size: 15px;

    a {
      padding: 0 5px;
    }
  }

  &__block {
    margin-top: 40px;
  }
}

.subscription {
  margin-top: 35px;

  .btn {
    padding: 10px 30px;
  }

  input {
    padding: 10px 15px;
    margin: 0;
    border: none;
  }
}

.blog {
  display: flex;
  align-items: center;
  margin-top: 30px;

  p {
    padding-left: 20px;
  }
}

.instagram-list {
  @extend .blog;
  flex-wrap: wrap;

  a {
    width: 33%;
    max-width: 90px;
    padding: 0 2px 2px 0;

    img {
      transition: .3s;
    }

    &:hover img {
      outline: 1px solid $orange;
    }
  }
}

.instagram-more {
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
}

.copyright {
  margin-top: 75px;
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: $text-2xl+10;
  }
}

// jQuery UI
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 1px solid #bd5f25;
  background: $orange;
}